[mysql]
# MySQL Prompt Configuration
#prompt  = \u@\h [\d]>    # Custom prompt: User @ Host [Database]


# Custom Aliases
#alias showtables = "SHOW TABLES;"    # Shortcut for 'SHOW TABLES;'
#alias dbstatus = "SHOW VARIABLES LIKE 'version%';"    # Custom command to show MySQL version
#alias users = "SELECT * FROM users;"    # Custom query to display all users from the 'users' table
